%article
  %h1= @title
  %nav
    &larr; <a href="/">Home</a>
  
  %section
    %h2 What's this site?

    %p This site is the unofficial <a href="http://instagr.am">Instagram</a> front-end on the Web made by querying the <strong>public resources</strong> of the <a href="http://instagr.am/developer/">Instagram API</a>.

    %p The code for this site is open source and <a href="https://github.com/mislav/instagram/blob/master/app.rb">available on GitHub</a>.

  %section
    %h2 How do I discover my own Instagram photos?

    %p To see your photo stream, you need to log in:

    %p
      %a#login{ href: '/login' } Log in with Instagram

    %p Alternatively, you can enter a Twitter username of a person who <strong>recently tweeted</strong> a link to their Instagram photo:

    %form{ action: '/users/discover', method: 'post', class: 'detect' }
      %p
        %label
          Twitter username:
          %input{ type: 'text', name: 'twitter' }
          %input{ type: 'submit', value: 'Search' }

    %p Another option is to paste <strong>a permalink</strong> to one of your Instagram photos:
    
    %form{ action: '/users/discover', method: 'post', class: 'detect' }
      %p
        %label
          Instagr.am permalink:
          %input{ type: 'url', name: 'url', placeholder: 'http://instagr.am/p/..../' }
          %input{ type: 'submit', value: 'Lookup' }

  %section
    %h2 Why don't some photos appear in search results?

    %p The search index is maintained by <a href="http://twitter.com/dbasch">Diego Basch</a> and includes only a subset of all media on Instagram because of technical limitations.
